@layout _CommonPageLayout
@page "/Founder"


<div class="breadcrumb-area">
    <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_box text-center" style="margin-bottom:20px">
                            <ul class="breadcrumb-list">
                                <li class="breadcrumb-item"><a href="/">Home/</a>Founder & Trustee</li>
                            </ul>
                        </div>

                        <div class="row">
                            @if (founderInfo != null)
                            {
                                <div class="col-lg-9">
                                    <div class="section-title section-space--mb_60">
                                        <div class="team-info ">
                                            <h5 class="name">About Founder and Trustee</h5>
                                            <div class="text mt-30" style="color:black">@((MarkupString)(founderInfo.AboutFounder ?? string.Empty))</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="grid-item">
                                        <div class="ht-team-member">
                                            <div class="team-image">
                                                <img class="img-fluid" src="@founderInfo.FounderImagePath" alt="">
                                                <div class="social-networks">
                                                    <div class="inner">
                                                        <p style="color:white">Founder & Trustee of DIRI</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="team-info ">
                                                <h5 class="name">@founderInfo.FounderName</h5>
                                                <div class="position">Founder & Trustee</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
</div>

@code {

}
