<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diri Journal</title>
    <link rel="icon" href="assets/images/favicon.ico">
    <partial name="_Styles" />
</head>
<body>
    <partial name="_HeaderIndexPage" />

    @RenderBody()

    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>