@layout _ArchievesLayout

@page "/archieves"


<Breadcrumb HeadingText="Archieves and Documentory" IsAcceptingProposal=false ConferenceTittle=""></Breadcrumb>

<div id="main-wrapper">
    <div class="site-wrapper-reveal">
        <!--======== Tabs Wrapper Start ======== -->
        <div class="tabs-wrapper  section-space--ptb_100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrapper text-center section-space--mb_60 wow move-up">
                            @* <h6 class="section-sub-title mb-20">discover our company</h6> *@
                            <h3 class="section-title">Video Messages
                                @* <span class="text-color-primary">38 years</span>  *@
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 ht-tab-wrap">
                        <div class="row">
                            <div class="col-12 text-center wow move-up ">
                                <ul class="nav justify-content-center ht-tab-menu" role="tablist">
                                    <li class="tab__item nav-item active">
                                        <a class="nav-link active" id="nav-tab1" data-bs-toggle="tab" href="#founder" role="tab" aria-selected="true">The Founder</a>
                                    </li>
                                    <li class="tab__item nav-item">
                                        <a class="nav-link" id="nav-tab2" data-bs-toggle="tab" href="#managingTrustee" role="tab" aria-selected="false">Mnaaging Trustee</a>
                                    </li>
                                    <li class="tab__item nav-item ">
                                        <a class="nav-link" id="nav-tab3" data-bs-toggle="tab" href="#memberSecretary" role="tab" aria-selected="false">Member Secretary</a>
                                    </li>
                                    <li class="tab__item nav-item ">
                                        <a class="nav-link" id="nav-tab5" data-bs-toggle="tab" href="#distinguishedFellows" role="tab" aria-selected="false">Distinguished Fellows</a>
                                    </li>
                                    <li class="tab__item nav-item ">
                                        <a class="nav-link" id="nav-tab5" data-bs-toggle="tab" href="#internationalScholars" role="tab" aria-selected="false">International Scholars</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-content ht-tab__content wow move-up">

                            <div class="tab-pane fade show active" id="founder" role="tabpanel">
                                <div class="tab-history-wrap section-space--mt_60">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="HomePage/Chief-Patron.jpg" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="text mb-25">Name<br>Designation</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="managingTrustee" role="tabpanel">
                                <div class="tab-history-wrap section-space--mt_60">
                                    <div class="row">
                                        <div class="col-lg-3 ">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="HomePage/Patron.jpg" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="tab-button">
                                                    <a class="btn-text" href="#">
                                                        <span class="button-text">Name<br />Designation</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="memberSecretary" role="tabpanel">
                                <div class="tab-history-wrap section-space--mt_60">
                                    <div class="row">
                                        <div class="col-lg-3 ">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="assets/images/bg/home-processing-video-intro-slider-slide-01-image-01-570x350.webp" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="tab-button">
                                                    <a class="btn-text" href="#">
                                                        <span class="button-text">Name<br />Designation</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="distinguishedFellows" role="tabpanel">
                                <div class="tab-history-wrap section-space--mt_60">
                                    <div class="row">
                                        <div class="col-lg-3 ">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="assets/images/bg/home-processing-video-intro-slider-slide-01-image-01-570x350.webp" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="tab-button">
                                                    <a class="btn-text" href="#">
                                                        <span class="button-text">Name<br />Designation</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="assets/images/bg/home-processing-video-intro-slider-slide-01-image-01-570x350.webp" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="tab-button">
                                                    <a class="btn-text" href="#">
                                                        <span class="button-text">Name<br />Designation</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 ">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="assets/images/bg/home-processing-video-intro-slider-slide-01-image-01-570x350.webp" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="tab-button">
                                                    <a class="btn-text" href="#">
                                                        <span class="button-text">Name<br />Designation</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 ">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="assets/images/bg/home-processing-video-intro-slider-slide-01-image-01-570x350.webp" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="tab-button">
                                                    <a class="btn-text" href="#">
                                                        <span class="button-text">Name<br />Designation</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="internationalScholars" role="tabpanel">
                                <div class="tab-history-wrap section-space--mt_60">
                                    <div class="row">
                                        <div class="col-lg-3 ">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="assets/images/bg/home-processing-video-intro-slider-slide-01-image-01-570x350.webp" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="tab-button">
                                                    <a class="btn-text" href="#">
                                                        <span class="button-text">Name<br />Designation</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 ">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="assets/images/bg/home-processing-video-intro-slider-slide-01-image-01-570x350.webp" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="tab-button">
                                                    <a class="btn-text" href="#">
                                                        <span class="button-text">Name<br />Designation</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 ">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="assets/images/bg/home-processing-video-intro-slider-slide-01-image-01-570x350.webp" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="tab-button">
                                                    <a class="btn-text" href="#">
                                                        <span class="button-text">Name<br />Designation</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 ">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="assets/images/bg/home-processing-video-intro-slider-slide-01-image-01-570x350.webp" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="tab-button">
                                                    <a class="btn-text" href="#">
                                                        <span class="button-text">Name<br />Designation</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 ">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="assets/images/bg/home-processing-video-intro-slider-slide-01-image-01-570x350.webp" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="tab-button">
                                                    <a class="btn-text" href="#">
                                                        <span class="button-text">Name<br />Designation</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 ">
                                            <div class="tab-history-image video-popup mt-30">
                                                <a href="https://www.youtube.com/watch?v=9No-FiEInLA" class="video-link">
                                                    <div class="single-popup-wrap">
                                                        <img class="img-fluid" src="assets/images/bg/home-processing-video-intro-slider-slide-01-image-01-570x350.webp" alt="">
                                                        <div class="ht-popup-video video-button">
                                                            <div class="video-mark" style="margin-top:40%">
                                                                <div class="wave-pulse wave-pulse-1"></div>
                                                                <div class="wave-pulse wave-pulse-2"></div>
                                                            </div>
                                                            <div class="video-button__two" style="margin-top:40%">
                                                                <div class="video-play">
                                                                    <span class="video-play-icon"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="tab-button">
                                                    <a class="btn-text" href="#">
                                                        <span class="button-text">Name<br />Designation</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--======== Tabs Wrapper End ======== -->
    </div>

    <!--====================  footer area ====================-->
    <FooterArea></FooterArea>
    <!--====================  End of footer area  ====================-->
</div>