@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Diri Admin</h1>
    <p class="lead">Radzen Material styling has been added to this project template.</p>
    <p>
        Learn about
        <a href="https://blazor.radzen.com/get-started" target="_blank" rel="noopener noreferrer">building UI with Radzen</a>.
    </p>
</div>
